<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Link Shortener</title>
    <link href="../static/css/style.css" type="text/css" rel="stylesheet">
    <script src="../static/bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="../static/bower_components/jquery-zeroclipboard/jquery-zeroclipboard.js" type="text/javascript"></script>
    <script src="../static/js/main.js" type="text/javascript"></script>
</head>
<body>
    <form method="post" action="/new_link">
        <label>
            Put your long link here<br>
            <input type="text" name="input_link" required>
        </label>
        <input type="submit" value="Shorten"><br>
        <input type="checkbox" name="customize" id="cust">
        <label class="custom_label" for="custom">Customize link</label>
        <div class="custom_div">http://127.0.0.1:5000/<input type="text" name="custom_link"></div>

    </form>
</body>
</html>